<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="metamodels/ecore/Ecore.genmodel"
            uri="http://www.eclipse.org/emf/2002/Ecore"
            class="ecore.EcorePackage">
      </package>
   </extension>
   <extension
         id="tooling.generatedContribution"
         point="org.eclipse.viatra2.emf.incquery.patternmatcher.builder">
      <pattern-builder
            build-class="patternbuilders.grapho.PatternBuilderForgraphoeditor"
            pattern-fqn="grapho.graphoeditor">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.policy.PatternBuilderForpermission"
            pattern-fqn="policy.permission">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.policy.PatternBuilderForoperation"
            pattern-fqn="policy.operation">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.policy.PatternBuilderForconstraint"
            pattern-fqn="policy.constraint">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.grapho.PatternBuilderForgrapho"
            pattern-fqn="grapho.grapho">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.policy.PatternBuilderForpolicy"
            pattern-fqn="policy.policy">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.policy.PatternBuilderForuser"
            pattern-fqn="policy.user">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.grapho.PatternBuilderFornode"
            pattern-fqn="grapho.node">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.policy.PatternBuilderForsession"
            pattern-fqn="policy.session">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.policy.PatternBuilderForobject"
            pattern-fqn="policy.object">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.policy.PatternBuilderForrole"
            pattern-fqn="policy.role">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.grapho.PatternBuilderForgraphelement"
            pattern-fqn="grapho.graphelement">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.grapho.PatternBuilderForedge"
            pattern-fqn="grapho.edge">
      </pattern-builder>
      <pattern-builder
            build-class="patternbuilders.policy.PatternBuilderForpolicyelement"
            pattern-fqn="policy.policyelement">
      </pattern-builder>
   </extension>

</plugin>
